<!DOCTYPE html>
<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
        [% if ga %]
        <script async src="https://www.googletagmanager.com/gtag/js?id=[% settings.option.ga_id %]"></script>
        <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         gtag('config', '[% settings.option.ga_id %]');
        </script>
        [% end %]
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
[% INCLUDE ogp %]
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
        <link rel="stylesheet" href="/static/main.css">
        [% if canonical %]<link rel="canonical" href="[% params.origin %]">[% end %]
        <title>[% params.title %] | [% settings.blog.title %]</title>
    </head>
    <body>
        <section class="hero is-medium is-bold is-dark">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title is-1">[% settings.blog.title %]</h1>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <nav class="level is-mobile">
                    <div class="level-left"></div>
                    <div class="level-right">
                        <p class="level-item"><a href="/">top</a></p>
                        <p class="level-item"><a href="/list.html">list</a></p>
                    </div>
                </nav>
                <article class="articles">
                    <div class="article">
                        <h1 class="title is-2">[% params.title %]</h1>
                        <div class="subtitle published">[% params.date %]</div>
                        <div class="content">
                            [% params.text %]
                        </div>
                        <div class="subtitle published">[% params.datetime %]</div>
                    </div>
                </article>
            </div>
        </section>
        <footer class="footer">
            <div class="content has-text-centered">
                [% settings.blog.footer %]
            </div>
        </footer>
    </body>
</html>
