<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <title>[% settings.blog.title %]</title>
    </head>
    <body>
        <section class="hero is-medium is-bold is-dark">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title is-1">[% settings.blog.title %]</h1>
                </div>
            </div>
        </section>
        <div class="container">
            <nav class="level">
                <div class="level-left"></div>
                <div class="level-right">
                    <p class="level-item">top</p>
                    <p class="level-item"><a href="/list.html">list</a></p>
                </div>
            </nav>
            <section class="articles">
                [% for articles -> article %]
                <div class="article">
                    <h1 class="title is-2"><a href="/entry/[% article.params.name %].html">[% article.params.title %]</a></h1>
                    <div class="subtitle published">[% article.params.date %]</div>
                    <div class="content">
                        [% article.params.text %]
                    </div>
                </div>
                [% end %]
            </section>
        </div>
        <footer class="footer">
            <div class="content has-text-centered">
                [% settings.blog.footer %]
            </div>
        </footer>
    </body>
</html>
