<!DOCTYPE html>
<html>
    <head>
        [% if ga %]
        <script async src="https://www.googletagmanager.com/gtag/js?id=[% settings.option.ga_id %]"></script>
        <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         gtag('config', '[% settings.option.ga_id %]');
        </script>
        [% end %]
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <title>archives | [% settings.blog.title %]</title>
    </head>
    <body>
        <section class="hero is-medium is-bold is-dark">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title is-1">[% settings.blog.title %]</h1>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <nav class="level is-mobile">
                    <div class="level-left"></div>
                    <div class="level-right">
                        <p class="level-item"><a href="/">top</a></p>
                        <p class="level-item">list</p>
                    </div>
                </nav>
                <article class="articles">
                    <div class="content">
                        <table class="table is-hoverable">
                            [% for articles -> article %]
                            <tr>
                                <td style="width: 150px;">[% article.params.date %]</td>
                                <td><a href="/entry/[% article.params.name %].html">[% article.params.title %]</a></td>
                            </tr>
                        [% end %]
                        </table>
                    </div>
                </article>
            </div>
        </section>
        <footer class="footer">
            <div class="content has-text-centered">
                [% settings.blog.footer %]
            </div>
        </footer>
    </body>
</html>
