
        <meta property="og:title" content="[% params.ogp.title %]" />
        <meta property="og:type" content="[% params.ogp.type %]" />
        <meta property="og:url" content="[% params.ogp.url %]" />
        <meta property="og:image" content="[% params.ogp.image %]" />
        <meta property="og:site_name" content="[% settings.blog.title %]" />
        <meta property="og:description" content="[% params.ogp.description %]" />
[% if exists_ogp_fb %]<meta property="fb:app_id" content="[% settings.ogp.fb_app_id %]" />[% end %]
[% if exists_ogp_tw %]<meta name="twitter:card" content="[% params.ogp.twitter_card %]" /><meta name="twitter:site" content="@[% settings.ogp.twitter_id %]" />[% end %]